._{
    display: grid;
    grid: "logo search switch" auto / auto 1fr auto;
    place-items: center;
    >h4{
        grid-area: logo;
    }
    &_searchContainer{
        grid-area: search;
    }
    &_unitSwitch{
        grid-area: switch;
    }
}